{% extends 'base.html' %}
{% block content %}
<h2>Available Skill Swaps</h2>
<a href="/offer" class="btn btn-primary mb-3">Offer a Skill</a>
<a href="{{ url_for('matches') }}" class="btn btn-info mt-3">Find Skill Matches</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Offers</th>
            <th>Wants</th>
        </tr>
    </thead>
    <tbody>
        {% for s in skills %}
        <tr>
            <td>{{ s[1] }}</td>
            <td>{{ s[2] }}</td>
            <td>{{ s[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
