<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Swap Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <!-- Favicon link -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
{% extends 'base.html' %}
{% block content %}
<div style="text-align: center;">
<h1 class="text-center">Welcome to Skill Swap Platform</h1>
<p class="text-center">Swap your skills. Grow together!</p>
      <p style="font-size:
80px;">&#x1F91D;</p>
</div>
{% endblock %}
